resources:
- name: {{ env['name'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: serviceAccount-{{ env['name'] }}
- type: gcp-types/iam-v1:projects.serviceAccounts.keys
  name: {{ env['name'] }}-key
  properties:
    parent: $(ref.{{ env['name'] }}.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE

outputs:
- name: {{ env['name'] }}
  value: $(ref.{{ env['name'] }}.email)
- name: {{ env['name'] }}-key
    value: $(ref.{{ env['name'] }}.keyData)