resources:
- name: service-account
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: "Streamsec Service Account"
- type: gcp-types/iam-v1:projects.serviceAccounts.keys
  name: service-account-key
  properties:
    parent: $(ref.service-account.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE
  metadata:
    dependsOn:
      - service-account

- name: service-account-viewer-role
  type: gcp-types/cloudresourcemanager-v1:virtual.projects.iamMemberBinding
  properties:
    resource: {{ env["project"] }}
    role: roles/viewer
    member: "serviceAccount:$(ref.service-account.email)"
  metadata:
    dependsOn:
      - service-account
      
outputs:
- name: service-account-key
  value: $(ref.service-account-key.privateKeyData)