resources:
- name: {{ env['name'] }}
  type: iam.v1.serviceAccount
  properties:
    accountId: {{ env['name'] }}
    displayName: serviceAccount-{{ env['name'] }}
  accessControl:
    gcpIamPolicy:
      bindings:
      - role: roles/viewer
        members:
        - serviceAccount:{{ env['name'] }}@{{ env['project'] }}.iam.gserviceaccount.com
- type: gcp-types/iam-v1:projects.serviceAccounts.keys
  name: {{ env['name'] }}-key
  properties:
    parent: $(ref.{{ env['name'] }}.name)
    privateKeyType: TYPE_GOOGLE_CREDENTIALS_FILE

outputs:
- name: service-account-email
  value: $(ref.{{ env['name'] }}.email)
- name: service-account-key
  value: $(ref.{{ env['name'] }}-key.privateKeyData)