resources:
- name: topic
  type: pubsub.v1.topic
  properties:
    topic: {{ env['name'] }}-topic

- name: service-account-publish-role
  type: gcp-types/pubsub-v1:pubsub.projects.topics.setIamPolicy
  properties:
    resource: $(ref.topic.name)
    policy:
      bindings:
      - role: roles/pubsub.publisher
        members:
        - "serviceAccount:cloud-logs@system.gserviceaccount.com"

- name: sink
  type: logging.v2.sink
  properties:
    sink: {{ env['name'] }}-sink
    destination: pubsub.googleapis.com/projects/{{ env["project"] }}/topics/{{ env['name'] }}-topic
    filter: protoPayload.methodName="google.pubsub.v1.Subscriber.CreateSubscription" AND protoPayload.resourceName="projects/{{ env['project'] }}/topics/{{ env['name'] }}-topic"

- name: subscription
  type: pubsub.v1.subscription
  properties:
    subscription: {{ env['name'] }}-subscription
    topic: $(ref.topic.name)
  metadata:
    dependsOn:
      - sink

- name: StreamSecAuditLogsCollection
  type: gcp-types/cloudfunctions-v1:projects.locations.functions
  properties:
    parent: projects/{{ env['project'] }}/locations/us-central1
    function: {{ env['name'] }}-function
    runtime: python312
    entryPoint: process_log_event
    eventTrigger:
      eventType: google.pubsub.topic.publish
      resource: $(ref.topic.name)
    sourceArchiveUrl: gs://streamsec-public-artifacts/gcp-init-ack.zip
    environmentVariables:
      API_URL: {{ properties['apiUrl'] }}
      API_TOKEN: {{ properties['apiToken'] }}
      SERVICE_ACCOUNT_EMAIL: {{ properties['serviceAccountEmail'] }}
      SERVICE_ACCOUNT_KEY: {{ properties['serviceAccountKey'] }}