resources:
- name: topic
  type: pubsub.v1.topic
  properties:
    topic: {{ env['name'] }}-topic

- name: service-account-publish-role
  type: gcp-types/pubsub-v1:pubsub.projects.topics.setIamPolicy
  properties:
    resource: $(ref.topic.name)
    policy:
      bindings:
      - role: roles/pubsub.publisher
        members:
        - "serviceAccount:{{ properties["serviceAccountEmail"] }}"

- name: sink
  type: logging.v2.sink
  properties:
    sink: {{ env['name'] }}-sink
    destination: pubsub.googleapis.com/projects/{{ env["project"] }}/topics/{{ env['name'] }}-topic
    filter: resource.type="deployment" AND protoPayload.resourceName="projects/{{ env['project'] }}/global/deployments/{{ env['deployment'] }}"
    writerIdentity: serviceAccount:{{ properties["serviceAccountEmail"] }}

- name: subscription
  type: pubsub.v1.subscription
  properties:
    subscription: {{ env['name'] }}-subscription
    topic: $(ref.topic.name)